<div class="page-header">
  <h3>Industry #<%= @industry.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Industry name</dt>
      <dd><%= @industry.industry_name %></dd>

      <dt>Description</dt>
      <dd><%= @industry.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/industries" class="btn btn-primary">
        Back
      </a>
      <a href="/industries/<%= @industry.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_industry/<%= @industry.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Industry has many deals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Deals
      </li>

      <% @industry.deals.each do |deal| %>
        <li class="list-group-item">
          <a href="/deals/<%= deal.id %>">
            <%= deal.deal_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/deals/<%= deal.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/deals/<%= deal.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_deal/<%= deal.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
