<div class="page-header">
  <h3>Broker #<%= @broker.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @broker.name %></dd>

      <dt>Company</dt>
      <dd><%= @broker.company %></dd>

      <dt>Email</dt>
      <dd><%= @broker.email %></dd>

      <dt>Phone</dt>
      <dd><%= @broker.phone %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/brokers" class="btn btn-primary">
        Back
      </a>
      <a href="/brokers/<%= @broker.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_broker/<%= @broker.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
